@model NewsFeedApplication.Models.NewsViewModel

@{
	ViewBag.Title = "View All News";
}
<h2>@ViewBag.Title</h2>

<div class="detail-box ">
	
	<div class="table-responsive" style="max-height: inherit" id="newsList">
		@Html.Partial("~/Views/News/Partials/_NewsList.cshtml", Model.NewsList)
	</div>
	<input type="hidden" id="hdnUserId" value="@Model.UserId" />

</div>
<script>
	$(document).ready(function () {
		if ($('#hdnUserId').val() != '') {
			$('#btnLogin').hide();
			$('#btnLogout').show();
		} else {
			$('#btnLogin').show();
			$('#btnLogout').hide();
		}

	});
</script>
