@model NewsFeedApplication.Models.LoginViewModel

@{
	ViewBag.Title = "Login";
}
<h2>@ViewBag.Title</h2>

<div class="wrapper fadeInDown">
	<div id="formContent">
		<!-- Tabs Titles -->
		<!-- Icon -->
		<div class="fadeIn first">
			<img src="~/Images/usericon.png" id="icon" alt="User Icon" />
		</div>
		<!-- Login Form -->
		@*<form>*@
		@using (Html.BeginForm("Login", "Home", new { }, FormMethod.Post, new { @class = "login-form" }))
		{
			@Html.TextBoxFor(x => x.UserName, new { @class = "form-control fadeIn second", @name = "login", placeholder = "Username" })
			@Html.PasswordFor(x => x.Password, new { @class = "form-control fadeIn third", @name = "login", placeholder = "Password" })

			@*<input type="text" id="userName" class="fadeIn second" name="login" placeholder="Username">
			<input type="password" id="password" class="fadeIn third" name="login" placeholder="Password">*@

			<div class="col-sm-12 MessageBox mt-3">
			</div>

			<input type="submit" class="fadeIn fourth" value="Log In">
		}
		@*</form>*@
		<!-- Remind Password -->
		<div id="formFooter">
			<a class="underlineHover" href="#">Forgot Password?</a>
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		$(".login-form").on("submit", function (e) {
			e.preventDefault();  // prevent standard form submission
			var messageBox = $(this).find('.MessageBox');
			messageBox.hide();

			$(".loader-wrapper").show();
			var form = $(this);
			console.log(form.serialize());
			$.ajax({
				url: form.attr("action"),
				method: form.attr("method"),  // post
				data: form.serialize(),
				success: function (result) {
					console.log(result);
					$(".loader-wrapper").hide();
					if (result.success) {
						//redirect to main page books list
						var url = '@VirtualPathUtility.ToAbsolute("~/")book/viewallbooks/';
						window.location.href = url;
					} else {
						messageBox.show().html(MSGBox(result.Errors.toString().replace(/,/g, '<br>'), "danger", "An Error Occurred"));
					}
				}
			});

			$(".loader-wrapper").hide();
		});
	});
</script>